extends layout
block content
    #container
        h5 拖曳图片到这里
        .progress.progress-striped.active
            #p.bar(style="width:0%;") 0%
        #pic
            .pic 1
            .pic 2
            .pic 3
            .pic 4
            .pic 5
            .temp-pic
            .pic 6
            .pic 7
            .pic 8
            .pic 9
            .pic 10
            .pic 11
            .pic 12
            .pic 13
            .pic 14
            .pic 15
            .pic 16
            .pic 17
            .pic 18
            .pic 19
            .pic 20
    form(action='/admin/save-psd',id="psd-form",enctype="multipart/form-data")
    #drag-tips     拖动到新位置