!!!5
html
    head
        meta(charset='utf-8')
        title=title
        link(rel='stylesheet',href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet',href='/bootstrap/css/bootstrap-responsive.min.css')
        - if (typeof css!=='undefined')
            - css.forEach(function(css){
                link(rel='stylesheet',href='#{css}')
            - })
    body
        block content
        - if( typeof main !== 'undefined' )
            script(src='/global/jquery-1.8.3.min.js')
            script(src='/bootstrap/js/bootstrap.min.js')
            script(src="/seajs/sea-debug.js",data-main='#{main}')