img {
    border: none;
}

#header {
    width: 990px;
    margin: 0 auto;
    height: 64px;
    position: relative;
}

#header img.logo {
    position: absolute;
    left: 0;
    top: 26px;
}

#header p {
    position: absolute;
    right: 1em;
    bottom: 0;
    margin: 0;
    padding: 0;
}

#header p a {
    display: inline-block;
    background: url(/global/images/nav.png) no-repeat;
    width: 110px;
    text-indent: -999em;
    overflow: hidden;
}

#header p #about-nav {
    background-position: 29px 0;
}

#header p #about-nav:hover {
    background-position: 29px -29px;
}

#header p #wedo-nav {
    background-position: -89px 0;
}

#header p #wedo-nav:hover {
    background-position: -89px -29px;
}

#header p #portfolio-nav {
    background-position: -212px 0;
}

#header p #portfolio-nav:hover {
    background-position: -212px -29px;
}

#header p #design-nav {
    background-position: -336px 0;
}

#header p #design-nav:hover {
    background-position: -336px -29px;
}

#header p #contact-nav {
    background-position: -456px 0;
}

#header p #contact-nav:hover {
    background-position: -456px -29px;
}

body {
    background: url(/global/images/body-bg.png);
    font-family: "Microsoft yahei", sans-serif;
}

#header img.nav {
    position: absolute;
    right: 0;
    bottom: 0;
}