.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    zoom: 1;
}

#banner-container {
    height: 400px;
    position: relative;
    overflow: hidden;
}

#banner-container .banner {
    height: 400px;
    overflow: hidden;
    position: relative;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 100%;
}

.item h3 span s,
.item h2.title,
#about .overview,
.pagination b,
#copy-right .phone s,
#copy-right .email s,
#portfolio .nav-bar b,
#show .scrollable .prev,
#show .scrollable .next,
#point,
#banner-switch .scroller .contact p a {
    background-image: url(/global/images/sprites.png);
}

.item {
    width: 990px;
    margin: 0 auto;
    zoom: 1;
}

.item h2.title {
    height: 45px;
    margin: 1em auto;
    font-size: 30px;
    font-family: "Microsoft yahei", sans-serif;
    font-weight: normal;
    line-height: normal;
    background-position: 0 -65px;
}

.item h2.title b {
    font-size: 18px;
    font-weight: normal;
    border-bottom: solid 3px #ec6b1e;
    font-family: Consolas, verdana, simsun, sans-serif;
    color: #9fa0a0;
    margin: 0 5px;
}

.item h3 span {
    padding-left: 34px;
    display: inline-block;
    position: relative;
}

.item h3 span s {
    position: absolute;
    left: 0;
    width: 29px;
    height: 29px;
    overflow: hidden;
}

/*关于我们 About*/

#about {
    background: url(/global/images/about.png?new) center 0 no-repeat;
    height: 538px;
    margin-top: 69px;
}

/*我们能做*/
#what-we-do {
    background: url(/global/images/wedo.png) 0 top no-repeat;
    margin: 60px auto;
    height: 226px;
}

/* 设计作品 */
#portfolio {
    position: relative;
}

#portfolio-container {
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    height: 420px;
    width: 992px;
}

#portfolio-container .pic-container {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    margin: 11px 10px 11px 11px;
}

#portfolio-container .pic {
    width: 170px;
    height: 180px;
    float: left;
    vertical-align: top;
    border-radius: 4px;
    position: relative;
}

#portfolio-container b.pic-container {
    position: relative;
    cursor: pointer;
}

#portfolio-container b.pic-container u.icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = '#7F000000', endColorstr = '#7F000000');
    background: rgba(0, 0, 0, 0.5);
    background-image: url(/global/images/cire.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#portfolio .nav-bar {
    position: absolute;
    left: -70px;
    top: 72px;
    padding: 4px;
    background: #eae9eb;
}

#portfolio .nav-bar b {
    display: block;
    cursor: pointer;
    width: 53px;
    height: 53px;
    border: solid 1px #e1e0e0;
    text-indent: -999em;
    margin-top: -1px;
    -webkit-transition: -webkit-transform .2s ease-in, all .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in, all .2s ease-in;
    -o-transition: -o-transform .2s ease-in, all .2s ease-in;
    transition: transform .2s ease-in, all .2s ease-in;
}

#portfolio .nav-bar b.category {
    background-position: -5px -1218px;
}

#portfolio .nav-bar #category-field.checked {
    background-position: -68px -1218px;
}

#portfolio .nav-bar b.color {
    background-position: -5px -1274px;
}

#portfolio .nav-bar b.date {
    background-position: -5px -1330px;
}

#portfolio .nav-bar b.checked {
    background-position: -68px -1330px;
}

#portfolio .nav-bar #color-field.checked {
    background-position: -68px -1274px;
}

#portfolio .nav-bar b.series {
    background-position: -5px -1386px;
}

#portfolio .nav-bar #series-field.checked {
    background-position: -68px -1386px;
}

#filter-waterfall {
    height: 49px;
    width: 990px;
}

#filter-waterfall div {
    display: none;
}

#filter-waterfall div.active {
    display: block;
}

#filter-waterfall div.color b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#filter-waterfall b {
    float: left;
    height: 49px;
    color: #636364;
    background: #e8e8e8;
    font-family: "Microsoft yahei", sans-serif;
    font-weight: normal;
    line-height: 49px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s ease-in, background .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in, background .2s ease-in;
    -o-transition: -o-transform .2s ease-in, background .2s ease-in;
    transition: transform .2s ease-in, background .2s ease-in;
}

#filter-waterfall b.checked {
    background: #eb610f;
    color: #fff;
}

.hidden {
    display: none;
}

.pagination {
    float: right;
    margin: 12px 0 0 0;
    white-space: nowrap;
}

.pagination b {
    width: 18px;
    float: left;
    height: 18px;
    overflow: hidden;
    text-indent: -999em;
    display: inline-block;
    position: relative;
    margin: 0 0 0 1em;
    cursor: pointer;
}

.pagination b.prev {
    background-position: -194px 0;
}

.pagination b.prev:hover {
    background-position: -194px -20px;
}

.pagination b.next {
    background-position: -228px 0;
}

.pagination b.next:hover {
    background-position: -228px -20px;
}

#show .scrollable {
    position: relative;
    width: 990px;

}

#banner-switch .scrollable {
    position: relative;
    width: 990px;
    z-index: 1;

}

#banner-switch .prev-and-next {
    position: relative;
    margin: 0 auto;
    height: 0;
    width: 990px;
    z-index: 999;
}

#banner-switch .prev-and-next span {
    position: absolute;
    top: 160px;
    display: block;
    width: 28px;
    height: 28px;
    background: url(/global/images/point2.png);
}

#banner-switch .prev-and-next .prev {

}

#banner-switch .prev-and-next .next {
    background-position: right top;
}

#banner-switch .ks-switchable-content {
    width: 100%;
}

.scrollable .prev, .scrollable .next {
    position: absolute;
    top: 92px;
    color: #666;
    cursor: pointer;
    width: 18px;
    float: left;
    height: 18px;
    overflow: hidden;
    text-indent: -999em;
}

.scrollable .prev {
    left: -27px;
    background-position: -194px 0;
}

.scrollable .next {
    right: -26px;
    background-position: -228px 0;
}

.scrollable .disable {
    color: #ddd;
    cursor: default;
}

#banner-switch .scroller {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#banner-switch .scroller .contact p {
    width: 990px;
    margin: 0 auto;
    position: relative;
}

#banner-switch .scroller .contact p a {
    background-position: -9999em -9999em;
    background-repeat: no-repeat;
    text-indent: -999em;
    position: absolute;
    top: 276px;
    width: 200px;
    left: 667px;
    height: 59px;
}

#show .scroller {
    position: relative;
    width: 987px;
    height: 200px;
    overflow: hidden;
}

#ks-switchable-content div {
    float: left;
    width: 141px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

#copy-right {
    background: #dcdcdc;
    height: 103px;
    margin-top: 80px;
}

#copy-right .item {
    position: relative;
}

#copy-right .phone {
    margin-right: 2em;
}

#copy-right .email {
    color: #4D4D4D;
    text-decoration: none;
}

#copy-right .phone s,
#copy-right .email s {
    display: inline-block;
    width: 19px;
    height: 21px;
    white-space: nowrap;
    vertical-align: middle;
    margin-right: 8px;
}

#copy-right .phone s {
    background-position: -589px 0;
}

#copy-right .email s {
    background-position: -613px 0;
}

#copy-right .copyright {
    position: absolute;
    left: 0;
    top: 30px;
}

#copy-right .contact {
    position: absolute;
    right: 0;
    top: 30px;
}

.ks-overlay {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

#fixed-image {
    height: 700px;
    width: 670px;
    overflow: hidden;
    text-align: center;
    border: solid 10px #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, .5);
    background: #fff;
}

#fixed-image i {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

#fixed-image span {
    display: inline-block;

}

#fixed-image img {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.ks-ext-mask {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = '#7F000000', endColorstr = '#7F000000');
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
}

#nav-container {
    width: 100%;
    height: 0;
    position: relative;
    top: 0;
    left: 0;
}

#nav-container.fixed-ie6 {
    position: absolute;
}

#nav-container.fixed {
    position: fixed;
}

#nav {
    position: absolute;
    width: 100%;
    left: 0;
    height: 0;
    top: 0;
}

#nav-content {
    width: 990px;
    margin: 0 auto;
    text-align: right;
    position: relative;
}

#nav b {
    display: inline-block;
    padding: 1em;
}

#point {
    width: 126px;
    height: 324px;
    background-position: 0 -1526px;
    position: absolute;
    right: -168px;
    top: 220px;
}

#point a {
    display: block;
    height: 56px;
    vertical-align: top;
    margin-right: 5px;
}

#point a.active {
    border-right: solid 3px #eb610f;
}

#point a.home {
    height: 39px;
}

#banner-switch .scrollable {
    position: relative;
    width: 990px;

}

#banner-switch .ks-switchable-content {
    width: 100%;
}

.ks-ie7 #banner-switch .ks-switchable-nav {
    display: none;
}

#banner-switch .ks-switchable-nav {
    position: absolute;
    z-index: 333;
    top: 345px;
    text-align: center;
    left: 12px;
    width: 100%;
}

#banner-switch .ks-switchable-nav li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(/global/images/point.png);
    margin: 0 6px;
    background-position: -14px 0;
    text-align: left;
    text-indent: -999em;
}

#banner-switch .ks-switchable-nav li.ks-active {
    display: inline-block;
    margin: 0 6px;
    background-position: 0 0;
    text-align: left;
}

#about {
    position: relative;
}

#team {
    position: absolute;
    width: 244px;
    height: 154px;
    left: 372px;
    top: 237px;
}

#team-container .ks-switchable-content {
    height: 154px;
    overflow: hidden;
    position: relative;
}

#team-container .ks-switchable-content a {
    display: block;
    width: 250px;
    height: 166px;
}

#team-container .ks-switchable-content img {
    display: block;
    width: 250px;
    height: 166px;
}

#team-container .ks-switchable-nav {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -22px;
    text-align: center;
}

#team-container .ks-switchable-nav li {
    display: inline-block;
    *display: inline;
    _display: inline;
    zoom: 1;
    width: 30px;
    height: 8px;
    border-top: solid 2px #c2c2c2;
    text-indent: -999em;
    margin: 0 2px;
    cursor: pointer;
}

#team-container .ks-switchable-nav li.ks-active {
    border-color: #eb610f;
}

.ks-ext-close {
    position: fixed;
    right: 0;
    top: 0;
    background: url(/global/images/close.png);
    width: 86px;
    height: 71px;
    text-indent: -999em;
    overflow: hidden;
}

.ks-overlay {
    outline: none;
}

#fixed-image b.prev-image,
#fixed-image b.next-image {
    position: absolute;
    background: url(/global/images/c.png);
    width: 89px;
    height: 89px;
    top: 300px;
    cursor: pointer;
}

#fixed-image b.prev-image {
    left: -100px;
}

#fixed-image b.next-image {
    right: -122px;
    background-position: right 0;
}

#fixed-image b.prev-image:hover {
    background-position: 0 bottom;
}

#fixed-image b.next-image:hover {
    background-position: right bottom;
}

.ks-waterfall {
    position: absolute;
    width: 164px;
    overflow: hidden;
    padding: 8px 0;
    text-align: center;
    left: -9999px;
    top: -9999px;
}

#container .ks-waterfall span {
    width: 164px;
    height: 104px;
    position: relative;
    display: block;
    text-align: center;
}

#container .ks-waterfall span img {
    display: inlin;
}

#container .ks-waterfall  span s {
    position: absolute;
    left: 8px;
    top: 0;
    width: 164px;
    height: 104px;
    background: url(/global/images/w.png);
}

#container .ks-waterfall .content {
    background: #ecebed url(/global/images/cire-b.png) 0 bottom no-repeat;
    padding-bottom: .5em;
    position: relative;
    zoom: 1;
}

#container .ks-waterfall .content p {
    padding: 0 1em;
    text-align: left;
    font-size: 12px;
}

#container .ks-waterfall h2 {
    width: 164px;
    text-indent: 12px;
    line-height: 40px;
    text-align: left;
    height: 38px;
    background: url(/global/images/h.png);
}

#browser-tips {
    padding: 10em 1em;
    color: #fff;
    font-size: 24px;
    background: #37a647;
    display: none;
}

#browser-tips a {
    color: #fff;
}